.wrapper, html, body{
    margin: 0;
    background-image: url("../imgs/parchment.png"), url("../imgs/table.jpg"), url("../imgs/table.jpg");
    background-color: #614317;
    background-repeat: repeat-y, repeat-y, repeat-y;
    background-position: center, left, right;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

header h2{
    text-decoration: underline;
}

.generator input{
    border: none;
    border-radius: 20%;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    display: inline-block;
    background: rgb(153, 140, 81);
    box-shadow: 0 4px #999;
    display: inline-block;
    color: white;
}

.generator input:hover{
    cursor: pointer;
    background: rgb(146, 128, 46);
    color: white;
}

.generator input:active{
    background: rgb(146, 128, 46);
    color: white;
    transform: translateY(3px);
}

.generator select{
    color: white;
    border: none;
    border-radius: 20%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(153, 140, 81);
}

.generator select:hover{
    cursor: pointer;
    background: rgb(146, 128, 46);
    color: white;
}

.output h2, h3{
    text-decoration: underline;
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
}

.output h1{
    font-size: 2em;
    border-bottom: 4px solid rgb(146, 128, 46);
    display: inline-block;
    border-radius: 35%;
    padding: 10px;
}
