*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html body{
    margin: 0 auto;
    background-image: url("../imgs/table.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    text-align: center;
}

.grid-container{
    grid-column: 2;
    background-image: url("../imgs/parchment.png");
    background-size:contain;
    background-repeat: repeat-y;
    background-position: center;

}

header h2{
    margin: 50px;
    text-decoration: underline;
}

.generator input{
    border: none;
    border-radius: 20%;
    margin: 20px;
    padding: 30px;
    font-size: 16px;
    display: inline-block;
    background: rgb(153, 140, 81);
    box-shadow: 0 5px gray;
    display: inline-block;
    color: white;
}

.generator input:hover{
    cursor: pointer;
    background: rgb(146, 128, 46);
    color: white;
}

.generator input:active{
    background: rgb(146, 128, 46);
    color: white;
    transform: translateY(5px);
}

.generator select{
    color: white;
    border: none;
    border-radius: 20%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(153, 140, 81);
}

.generator select:hover{
    cursor: pointer;
    background: rgb(146, 128, 46);
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.output h2, h3{
    text-decoration: underline;
    padding: 5px;
    margin: 10px;
    font-size: 1.5em;
}

.output h1{
    font-size: 2em;
    border-bottom: 4px solid rgb(146, 128, 46);
    display: inline-block;
    border-radius: 35%;
    padding: 10px;
}

.output p{
    margin: 10px;
    padding: 10px;
    word-wrap: wrap;
}

footer {
    margin: 25px;
}
footer a{
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(153, 140, 81);
}

footer a:hover{
    color: #614317;
}

@media screen and (max-width: 720px ){
    .wrapper{
        grid-template-columns: 1fr 6fr 1fr;
    }
}